<h1>Books</h1>
<search>
  <form method="POST" action="/submittedTitle">
    <input type="text" name="title" id= "form-text" placeholder="Enter Book Title">
    <input type="submit" id= "form-submit"  value="Search">
  </form>
</search>
<content>
<ul class="books-ul">
  {{#each books}}
    {{#if (and searchedTitle (eq this.title searchedTitle))}}
      <li class="books-ul-li">
        <h2>{{this.title}}</h2>
        <p><strong>ISBN:</strong> {{this.isbn}}</p>
        <p><strong>Page Count:</strong> {{this.pageCount}}</p>
        <p><strong>Published Date:</strong> {{this.publishedDate.$date}}</p>
        <p><strong>Short Description:</strong> {{this.shortDescription}}</p>
        <p><strong>Long Description:</strong> {{this.longDescription}}</p>
        <p><strong>Authors:</strong> {{this.authors}}</p>
        <p><strong>Categories:</strong> {{this.categories}}</p>
      </li>
    {{else if (not searchedTitle)}}
      <li class="books-ul-li">
        <h2>{{this.title}}</h2>
        <p><strong>ISBN:</strong> {{this.isbn}}</p>
        <p><strong>Page Count:</strong> {{this.pageCount}}</p>
        <p><strong>Published Date:</strong> {{this.publishedDate.$date}}</p>
        <p><strong>Short Description:</strong> {{this.shortDescription}}</p>
        <p><strong>Long Description:</strong> {{this.longDescription}}</p>
        <p><strong>Authors:</strong> {{this.authors}}</p>
        <p><strong>Categories:</strong> {{this.categories}}</p>
      </li>
    {{/if}}
  {{/each}}
</ul>
</content>